
.leftcol  {padding:10px;border-top: 1px solid #ffffff;background-color: #A4E1FF; width: 170px; text-align:right; font-weight:bold; vertical-align:top }
.rightcol  { padding:10px; border-top:1px solid #FFFFFF; background-color: #EBE8E5;width: 620px}
.eventtable {border:0px solid #0000FF; font-family:Arial; font-size:10pt;padding-top: 10px; padding-left:10px; padding-right:10px; padding-bottom:10px}
.rowbreak { border-top: 10px solid #ffffff; }